<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/public/assets/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/index.css" />

  <title>O.W.L | Pulse | Excel 2018</title>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 px-1 bg-dark position-fixed sticky-sidebar">
      </div>
      <div class="col offset-3">
        <div>
          <a href="/profile">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Profile</button>
          </a>
          <a href="/participate">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Play</button>
          </a>
          <a href="/leaderboard">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Leaderboard</button>
          </a>
          <a href="/rules">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Rules</button>
          </a>
        </div>
        <div class="info d-flex flex-row flex-sm-row flex-md-row flex-lg-row flex-xl-row">
          <h3>Question: <span class="level">
              <%= user.level+1 %> </span></h3>
          <h3>Score: <span class="score">
              <%= user.score %> </span></h3>
        </div>
        <div class="main pos d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
          <div class="p-2">
            <h2>
              <%= user.assignedQSet[user.level].question %>
            </h2>
            <br />
            <form action="/participate" action="GET">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="value0" name="o" value="0" required>
                <label class="form-check-label" for="value0">
                  <%= user.assignedQSet[user.level].answers[0] %>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="value1" name="o" value="1" required>
                <label class="form-check-label" for="value1">
                  <%= user.assignedQSet[user.level].answers[1] %>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="value2" name="o" value="2" required>
                <label class="form-check-label" for="value2">
                  <%= user.assignedQSet[user.level].answers[2] %>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="value3" name="o" value="3" required>
                <label class="form-check-label" for="value3">
                  <%= user.assignedQSet[user.level].answers[3] %>
                </label>
                <input type="hidden" name="l" value="<%= user.level %>" />
              </div>
              <br />
              <button type="submit" class="btn btn-outline-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>